<%= form_for @evaluation do |e| %>
  <h1>Nueva Evaluaci&oacuten</h1>

  <table>
    <tr>
      <td><b>Profesor:</b></td> <td><%= @teacher.names + ' ' + @teacher.last_name + ' ' +
                                      @teacher.second_last_name %></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Por favor evaluar los siguientes aspectos de desempeño en una escala del 1 al 4, donde 1 es "Malo" y 4 es "Excelente"</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
  </table>

  <table>   
    <% Item.all.each do |item| %>
        <tr>
            <td>
                <b><%= item.id.to_s + '. ' +  item.name %></b>
            </td>
        </tr>
        <tr>
            <td>
              <%= e.fields_for :evaluation_details do |d| %>
                <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
                    <%= d.radio_button(:grade, "1") %>
                    <%= label_tag(:1, "1") %>

                    <%= d.radio_button(:grade, "2") %>
                    <%= label_tag(:2, "2") %>

                    <%= d.radio_button(:grade, "3") %>
                    <%= label_tag(:3, "3") %>

                    <%= d.radio_button(:grade, "4") %>
                    <%= label_tag(:4, "4") %>

                </fieldset>
              <% end %>
            </td>
        </tr>
    <% end %>

  <tr>
    <td>
      <div data-role="fieldcontain">
          <%= e.text_area :comment %>
      </div>
    </td>
  </tr>
  </table>
<% end %>

