<%= form_for @evaluation do |e| %>
  <h1>Nueva Evaluaci&oacuten</h1>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><b>Profesor:</b></td> <td><%= @teacher.names + ' ' + @teacher.last_name + ' ' +
                                      @teacher.second_last_name %></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Por favor evaluar los siguientes aspectos de desempeño en una escala del 1 al 4, donde 1 es "Malo" y 4 es "Excelente"</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
  </table>

  <table>
    
    <% @evaluation.evaluation_details.each do |edet| %>
        <tr>
            <td>
                <b><%= edet.item.id.to_s + '. ' +  edet.item.name %></b>
            </td>
        </tr>
        <tr>
            <td>
              <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
                <%= e.fields_for :evaluation_details, edet do |d| %>
                  
                      <%= d.radio_button(:grade, "1") %>
                      <%= d.label(:grade_1, "1") %>

                      <%= d.radio_button(:grade, "2") %>
                      <%= d.label(:grade_2, "2") %>

                      <%= d.radio_button(:grade, "3") %>
                      <%= d.label(:grade_3, "3") %>

                      <%= d.radio_button(:grade, "4") %>
                      <%= d.label(:grade_4, "4") %>
                <% end %>
                </fieldset>
            </td>
        </tr>
    <% end %>

  <tr>
    <td>
      Comentario: 
      <div data-role="fieldcontain">
          <%= e.text_area :comment %>
      </div>
    </td>
  </tr>
  </table>

  <div class="actions">
    <%= e.submit :Evaluar %>
  </div>
<% end %>

