<%= stylesheet_link_tag "results.css" %>

<p>
  <h2>Resultados del profesor: </h2>
  <h3>
    <%= @teacher.names + ' ' + @teacher.last_name + ' ' + @teacher.second_last_name%>
  </h3>
  Cantidad de evaluaciones: <%= @teacher.evaluations.count%>
</p>
</br>
<% @questions.each do |question| %>
    <p>
      Pregunta: <%= question.name %>
    </p>
      
      <div data-role="fieldcontain">
        <label for="slider">Puntaje promedio: <%= question.avg_grade.to_s%>
          <span class="slider-label left">1</span>
          <span class="slider-label right">4</span>
        </label>
        <input type="range" class="slider" name="slider" id="slider" value='<%= question.avg_grade%>' min="1" max="4" data-highlight="true" data-mini="true" data-theme="a" data-track-theme="b" disabled/>
      </div>
<% end %>

<p>Comentarios: </p>
<% @comments.each do |comment| %>
  <div data-role="fieldcontain">
    <textarea name="textarea" id="textarea-a" readonly="readonly">
      <%= comment.comment %>
    </textarea>
  </div>
<% end %>