<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Names</th>
    <th>Last name</th>
    <th>Second last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.names %></td>
    <td><%= teacher.last_name %></td>
    <td><%= teacher.second_last_name %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
